<h2>Mail Test</h2>
<div class="formContainer">
    <form class="form-horizontal" action="/send-email" method="post">
        <div class="">
            <button type="submit" class="">Send</button>
        </div>
    </form>
</div>